#chat-box {
  overflow-y: scroll;
  scrollbar-width: none;
}

#chat-box::-webkit-scrollbar {
  display: none;
}

.message-body{
  white-space: pre-wrap;
}

textarea{
  overflow-y: scroll;
  scrollbar-width: none;
}

.status-mark{
  transition: opacity 0.5s ease-in-out;
}